* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: crimson;
  color: #fff;
}
.container{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container h1 {
  font-size: 5em;
  text-transform: uppercase;
}
.container button {
  border: 1px solid #fff;
  color: crimson;
  background-color: crimson;
  padding: 10px 40px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px;
  width: 100%;
}

form {
  background-color: #fff;
  padding: 20px 20px 40px;
}
input{
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #eee;
}